{% extends "home.html" %}

{% block title %}
<h1></h1>
{% endblock %}

{% block content %}
<form action="">
    <div class="form-group">
        <label for="first">First Name</label>
        <input type="text" name="first" placeholder="{{profile.first_name}}" required>
    </div>
    <div class="form-group">
        <label for="last">Last Name</label>
        <input type="text" name="last" placeholder="{{profile.last_name}}" required>
    </div>
    <div class="form-group">
        <label for="img">Image Url</label>
        <input type="url" name="img" placeholder="{{profile.image_url}}" required>
    </div>
    <input type="button" value="Cancel" class="btn btn-primary">
    <input type="submit" value="Save" class="btn btn-success">
</form>
{% endblock %}
