 {% extends "home.html" %}

 {% block title %}
 <h1>{{post.title}}</h1>
 {% endblock %}

 {% block content %}
 <p>{{post.content}}</p>
 <i>By {{profile.first_name}} {{profile.last_name}}</i>

 <form action="/posts/{{post.id}}" method="POST">
     <a href="/users/{{profile.id}}" class="btn btn-outline-primary bg-white text-primary">Cancel</a>
     <a href="/posts/{{post.id}}/edit" class="btn btn-primary">Edit</a>
     <input type="submit" value="Delete" class="btn btn-danger">
 </form>
 {% endblock %}